* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.intestazione {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#levels {
  padding-right: 35px;
}

.btn {
  padding: 5px 20px;
  margin-left: 35px;
}

main {
  height: 85vh;
  width: 100%;

  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.griglia {
  width: 72vh;
  height: 72vh;
  background-color: rgb(247, 81, 144);
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.cella {
  background-color: rgb(215, 134, 247);
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cella-medium {
  background-color: rgb(215, 134, 247);
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cella-hard {
  background-color: rgb(215, 134, 247);
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellaCliccata {
  background-color: rgb(67, 230, 203);
}

footer {
  width: 100%;
  height: 5vh;
  background-color: antiquewhite;
  position: fixed;
}

.dati {
  line-height: 50px;
}
